body {
	
	margin: 0;
	


}

.grid-container {
    
	
	display: grid;
	grid-template-columns:auto auto auto auto;
    gap: 0px;    
	padding: 0px;
    height: 100vh;
        

}

.grid-container > div {

	
	background-color: rgba(255, 255, 255, 0.8);
   
	text-align: center; 
	padding: 20px 0;
	font-size: 30px;
	margin: 0;
	
	
        

}

.item1 {

	
	
	grid-column: 1 / 5;
	background-image: url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");	
    background-size: cover;	
	border-radius: 2px;
	margin: 0px;
	color: white;
	text-shadow: 5px 5px 10px black, 0 0 blue, 0 0 10px darkblue;
	letter-spacing: 10px;
	

	
	

}

.item1 h1 {


	font-size: 3rem;
}





.item2 {

	
	grid-row: 2 / 5; 	
    background-size: cover;	
	border-radius: 2px 2px 2px 0px;
	height: 100vh;
	margin: 0px 100px 0px 0px;

}

.item3 {

	grid-row: 2 / 3; 	
	gap: 500px;
	
	
	
        

}

.flex-container {

	display:flex;
	/*flex-direction: column;  */   
	align-items: flex-start;
    height: 60vh;
	justify-content: center;
	gap: 175px;	
	margin: 50px;
	
	
	


}

.child1-container {

	width: auto;
	height: 270px;
	background-image: linear-gradient(to bottom right, lightskyblue, deepskyblue);
	border-radius: 10px;	
	box-shadow: 0 4px 8px rgba(0,0,0, .7); 

	
	


}

.child1-container p {

   line-height: 2px;
   font-size: 1.25rem;
   color: ivory;
   text-align: justify;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-shadow: 0 4px 8px rgba(0,0,0, .7); 
   
   
}

 img {

	border-radius: 10px;
	width: 300px;
	height: 200px;
	

}


.child2-container {

	width: auto;
	height: 270px;
	background-image: linear-gradient(to bottom right, lightskyblue, deepskyblue);
	border-radius: 10px;	
	box-shadow: 0 4px 8px rgba(0,0,0, .7); 	
    /* background-image: linear-gradient(to bottom right,  #87CEEB, #89CFF0); */


}

.child2-container p {

	line-height: 2px;
	font-size: 1.25rem;
	color: ivory;
	text-align: justify;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-shadow: 0 4px 8px rgba(0,0,0, .7); 
	
	
 }

.child2 img {

	border-radius: 10px

}


.child3-container {

	width: auto;
	height: 270px;
	background-image: linear-gradient(to bottom right, lightskyblue, deepskyblue);
	border-radius: 10px;	
	box-shadow: 0 4px 8px rgba(0,0,0, .7); 


}

.child3-container p {

	line-height: 2px;
	font-size: 1.25rem;
	color: ivory;
	text-align: justify;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-shadow: 0 4px 8px rgba(0,0,0, .7); 
	
	
 }



.child3 img {

	border-radius: 10px

}

.child4-container {

	width: auto;
	height: 270px;
	background-image: linear-gradient(to bottom right, lightskyblue, deepskyblue);
	border-radius: 10px;	
	box-shadow: 0 4px 8px rgba(0,0,0, .7); 


}

.child4-container p {

	line-height: 2px;
	font-size: 1.25rem;
	color: ivory;
	text-align: justify;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-shadow: 0 4px 8px rgba(0,0,0, .7); 
	
	
 }

.child5 img {

	border-radius: 10px

}

.item4 {

	background-size: cover;

}






.item5 {

	
        background-size: cover;


}

.item8 {

	
        background-size: cover;


}


.item9 {

	grid-column: 1 / 5;
	grid-row: 4 / 5;
	background-image: url("images/sky.jpg");
	background-size: cover;



}

.textInfo {

	line-height:1.5rem;
    font-size: 1rem;
	max-width: 300px;
	opacity: .9;
	text-align: justify;
}

.child1-container .city {


	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-shadow: 0 4px 8px rgba(0,0,0, .2); 
	color: skyblue;
}

.child2-container .city {


	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-shadow: 0 4px 8px rgba(0,0,0, .2); 
	color: skyblue;
}

.child3-container .city {


	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-shadow: 0 4px 8px rgba(0,0,0, .2); 
	color: skyblue;
}


@media (max-width: 600px){

	img {

		width: 220px;
		height: 100px;
	}

	.flex-container {

		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	.child1-container {
		width: 220px;
		height: 150px;
	}

	.child2-container {
		width: 220px;
		height: 150px;
	}

	.child3-container {
		width: 220px;
		height: 150px;
	}


	.child1-container p{
		
		font-size: .95rem;
		line-height: .5rem;
	}

	.child2-container p{
		
		font-size: 1rem;
		line-height: .1rem;
	}

	.child3-container p{
		
		font-size: 1rem;
		line-height: .1rem;
	}

	.textInfo {

		line-height: .75rem;
		font-size:  0rem;
		max-width: 100px;
		opacity: .9;
		text-align: justify;
	}

	.item1 h1 {

		font-size: 1.5rem;

	}
	





}










