
.header-container {
    
    display:flex;
    justify-content: center;
    align-items: center;
    
}


.title {

    
    
    
    font-size: 1.5rem;
    color: #e3e39c;
    text-shadow: 4px 4px 8px rgba(0,0,0,.8);
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 70px 0px;
}





.flexbox-container {
    display: flex;
    
    
    align-content: center;   
    justify-content: center; 
    align-items: center;
    gap: 10px;
}

.flexbox-item {
    height:300px;
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    
}

.flexbox-item-1 {
    
    background-image: url("images/USFlag.jpg"); 
    background-size: cover;
    height: 300px;
    width: 200px;
    margin: 0px 150px 0px 0px;
   
}

.flexbox-item-2 {
    height: 200px;
    background-image: url("images/UnionJack.jpg"); 
    background-size: cover;
    height: 300px;
    width: 200px;
    
}




/* Background Styles */
html {
    height: 100%;
    background-image: url(images/sky.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*
.flexbox-container {
    position: relative;
    
}
*/
#headingUS {

    font-size: 2.5rem;
    color: #e3e39c;
    margin:0px;
    text-shadow: 4px 4px black;

}

#headingUK {

    font-size: 2.5rem;
    color: #e3e39c;
    margin: 0px;
    text-shadow: 4px 4px black;


}

.input {

    width: 75px;    
    height: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Courier New', 'Courier', monospace;
    background: rgba(255,255,255, .4);
    border-color: rgba(255,255,255, .5);
    margin: 5px 10px;
    border-radius: 5px;
    
}

.btn {

    background-color: #ffff99;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    box-shadow: 0 0 4px rgba(0,0,0, .3);
    cursor: pointer;
}

.btn:hover{

    box-shadow: 0 0 8px rgba(0,0,0,.7);
    transition: all 300ms ease;
     
}

.info-text {

    font-size: 1rem;
    font-weight: 500;
}


.tempHeading {

    font-size: 1.4rem;
    color: #e3e39c;
    text-shadow: 2px 2px black;

}
